/* Main.css */

.container {
  max-width: 100vw;
  
}
.container a{
  outline: none;
  color: rgb(84, 84, 193);text-decoration: none;
  font-weight: 500;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}
.header-right{
  max-width: 40%;
}
.contact-info {
  font-size: 15px;
}

.contact-info p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.contact-info p img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;border-radius: 50%;
}

.logo-links {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.header-left {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.logo-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo-links .a {
  margin-left: 20px;
}

.logo-links a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
}

.body{
  padding: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.leftbody{
display: flex;
flex-direction: column;
width: 49%;
}
.intership{
  border-bottom: 2px solid black;
  padding-bottom: 0.2rem;
}
.intership.box p,
.intership.box  {
  display: block;
  margin: 0;
  padding: 0;
}
.bolder{
  font-weight: 600;
  font-size: 30px;
}
.bold{
  font-weight: 500;
  font-size: 20px;
}
.education{
  padding: 0;
  margin: 0;
}
.education.box p,
.education.box  .section{
  display: block;
  margin: 0;
  padding: 0;
}
.rigthbody{
  width: 49%;
}

.project.box p,
.project.box  {
  display: block;
  margin: 0;
  padding: 0;
}
.project .section{
  margin-bottom: 0.2rem;
}
.skill{
  border-bottom: 2px solid black;
}
.blue{
  color: rgb(84, 84, 193);
  font-style: italic;
}
.pad{
  margin: 0.1rem;
  font-weight: 500;
  font-size: 18px;
}
a{
  color: gray;
}
.footer{
  border-top: 2px solid black;
}
.links{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
}
.links a{
  padding-left: 2rem;
}
.links a:hover{
  color: gray;
}



@media (max-width: 768px) {
 
  .header-left,
  .header-right {
    max-width: 100%;
  }

  .contact-info p {
    font-size: 12px;
  }
.contact-info p img{
  width: 15px;
  height: 15px;
}
  .name {
    font-size: 24px;
  }
.logo-links a img{
width: 20px;
height: 20px;
}
.logo-links a{
  font-size: 12px;
}
.header-left h1{
  font-size: 30px;
}
.container{
  font-size: 13px;
}
.bolder{
  font-size: 20px;
}
.bold{
  font-size: 13px;
}
 
}

@media (max-width: 480px) {
  /* Styles for phones */
  .header-left,
  .header-right {
    max-width: 100%;
  }

  .contact-info p {
    font-size: 12px;
  }

  .name {
    font-size: 20px;
  }

  /* Add more responsive styles as needed */
}


.skills{
 display: flex;
 flex-direction: row;
flex-wrap: wrap;
padding-bottom: 0.3rem;
}

.skills p{
  padding:0 0.5rem;
}
strong{
  font-weight: 500;
}
